// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 769px,
  xl: 1367px,
);
@mixin mq($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
