$red: #d51212;
$inf-red: rgb(253,34,107);
$inf-orange: rgb(254,179,52);
$inf-blue: rgb(30,119,242);
$inf-light-blue: rgb(38,215,213);
$blue: rgb(25, 25, 154);
$black: rgb(33, 33, 33);
$white: #fff;

//margin
.mx-n15{
  margin-left: -15px;
  margin-right: -15px;
}

//
.fluid_fullwidth{
  padding-left: 0;
  padding-right: 0;
  box-sizing: content-box;
  width: 100vw;
}

.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.follow-me li a[href*="instagram.com"]::before{
  background: linear-gradient(to right, $inf-orange, $inf-red, $inf-orange);
  background-size: 200% auto;
  transition: all 1s ease;
  content: "\f16d";
  }

.follow-me li a[href*="twitter.com"]::before{
  background: linear-gradient(to right, $inf-light-blue, lighten($inf-blue, 10%), $inf-light-blue);
  background-size: 200% auto;
  transition: all 1s ease;
  content: "\f099";
  }
